body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#table{
  width: 350px;
  border: 1px solid #dddfe1;
  border-collapse: collapse;
  color: #606060;
  margin: 0 auto;

}

td, th {
  border: 1px solid #dddfe1;
  height: 40px;
  padding: 0 70px;
}